<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="FaceAPIKey" value="f87ddd2410f04fb893baa92fbec76929" />
    <add key="FaceAPIHost" value="https://westcentralus.api.cognitive.microsoft.com/face/v1.0" />

    <add key="EmotionAPIKey" value="048cf2c7e9a845c7833d53d90c74f26e" />
    <add key="EmotionAPIHost" value="https://westus.api.cognitive.microsoft.com/emotion/v1.0" />

    <add key="VisionAPIKey" value="e9b0db6c84754d22b9a0dcf51d2032b8" />
    <add key="VisionAPIHost" value="https://westcentralus.api.cognitive.microsoft.com/vision/v1.0" />

    <add key="AnalysisInterval" value="00:00:03" />
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>